@import "../../styles/utils/function";

.ui-badge {
  display: inline-block;

  /** variant **/
  &-solid {

  }
  &-line {
    border: 1px solid #ffffff;
    color: #ffffff;
  }

  /** bgColor **/
  &-navy {
    color: #fff;
    background-color: #160b43;
  }
  /** size **/
  &-sm {
    padding: rem(2) rem(4);
    // margin-left: 8px;
    border-radius: rem(2);
    font-size: rem(12);
  }
  &-sm + &-sm {margin-left: rem(8);}
  &-md {
    padding: rem(8);
    margin-left: rem(8);
    border-radius: rem(4);
    font-size: rem(16);
  }
}

@media (max-width: 767px) {
  .ui-badge{
    &-md {
      padding: rem(4);
      margin-left: rem(4);
      border-radius: rem(2);
      font-size: rem(12);
    }
  }
}